* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #ffffff;
    font-family: Arial, sans-serif;
    position: relative;
}

/* ==========================================================
   HEADER
========================================================== */

.encabezado{

    position:fixed;
    top:0;
    left:0;

    width:100%;
    height:80px;

    display:flex;
    justify-content:space-between;
    align-items:center;

    padding:0 60px;

    background:rgba(0,0,0,.35);
    backdrop-filter:blur(6px);

    z-index:1000;

    transition:.35s;

}

.encabezado.scrolled{

    background:#101010;

}

.logo{

    display:flex;
    align-items:center;
    gap:15px;

}

.logo img{

    width:65px;

}

.logo-texto h1{

    color:#fff;
    font-size:22px;
    letter-spacing:1px;

}

.menu{

    display:flex;
    gap:35px;

}

.menu a{

    color:#d6d6d6;
    text-decoration:none;
    font-size:18px;

    transition:.3s;

}

.menu a:hover,
.menu .activo{

    color:#35c6d0;

}

/* ==========================================================
   MENU CELULAR
========================================================== */

.menu-btn{

    display:none;

    border:none;
    background:none;

    color:#fff;

    font-size:34px;

    cursor:pointer;

}

.menu-mobile{

    position:fixed;

    top:80px;
    right:-280px;

    width:280px;
    height:100vh;

    background:#111;

    display:flex;
    flex-direction:column;

    transition:.35s;

    z-index:999;

}

.menu-mobile.active{

    right:0;

}

.menu-mobile a{

    color:white;

    text-decoration:none;

    padding:18px 25px;

    border-bottom:1px solid #262626;

}

.menu-mobile a:hover{

    background:#1d1d1d;

}



.imagen-intro {
    position: relative;
    width: 100%;
    height: 500px;
    overflow: hidden;
    z-index: 0;
}

.titulo1 {
    position: absolute;
    z-index: 10;  
    display: flex;
    align-items: center;
    color: white;
    top: 17%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 80px;
    text-shadow: 2px 4px 6px rgba(0, 0, 0, 0.5);
    font-family: 'Kanit', sans-serif;
}

.text {
  background-color: #f1f1f1;        
  border-radius: 12px;              
  padding: 20px;                   
  box-shadow: 0 4px 8px rgba(0,0,0,0.1); 
  max-width: 1200px;
  margin: 20px auto;         
  font-family: 'Segoe UI', sans-serif;
  font-size: 18px;
  color: #333;
  text-align: center;
}

.text p{
    font-family: "Work Sans", sans-serif;
    font-size: 17px;
    margin: 15px;
    margin-left: 7%;
    margin-right: 7%;
    padding: 0 9px;
    color: rgb(90, 90, 90);
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.derechos{
    color: #fff;
    font-size: 12px;
    font-family: sans-serif;
    text-align: center;
    margin-top: 20px;
}

.fondo-derechos{
    position: relative;

    background-image: url("../img/fondo-derechos.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    width: 100%;
    min-height: 320px;

    padding: 25px 0 0;
}

.fondo-derechos::before{
    content: "";

    position: absolute;
    inset: 0;

    background: rgba(0,0,0,.15);
}

.contenido-derechos{
    position: relative;
    z-index: 2;
    min-height: 295px;
}

.logo-pie{
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    margin-left: 15%;
}

.logo-pie img{
    width: 190px;
}

.text-logo-pie{
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    margin-left: 12.1%;
    margin-top: -15px;
}

.text-logo-pie h1{
    font-size: 23px;
}

/*==========================================================
    COLUMNAS FOOTER
==========================================================*/

.pie-columnas{

    display:flex;

    justify-content:flex-end;

    align-items:flex-start;

    gap:100px;

    margin-top:-155px;

    margin-right:6%;

}


.links-rapidos,
.servicios-footer,
.info-contacto{

    display:flex;

    flex-direction:column;

    text-align:left;

    color:#fff;

}


.links-rapidos h3,
.servicios-footer h3,
.info-contacto h3{

    font-size:18px;

    text-transform:uppercase;

    margin-bottom:18px;

    letter-spacing:1px;

}


.links-rapidos ul,
.servicios-footer ul,
.info-contacto ul{

    list-style:none;

    padding:0;

    margin:0;

}


.links-rapidos li,
.servicios-footer li,
.info-contacto li{

    margin-bottom:14px;

    font-size:15px;

    color:#ececec;

}


.links-rapidos a,
.info-contacto a{

    color:#ececec;

    text-decoration:none;

    transition:.3s;

}


.links-rapidos a:hover,
.info-contacto a:hover{

    color:#35c6d0;

}


.info-contacto li{

    display:flex;

    align-items:center;

    gap:10px;

}


/* COPYRIGHT */

.copyright-mae{
    position: absolute;

    bottom: 0;
    left: 0;

    width: 100%;

    padding: 15px;

    border-top: 1px solid rgba(255,255,255,.15);

    background: rgba(0,0,0,.25);

    color: rgba(255,255,255,.75);

    font-size: 13px;

    text-align: center;
}


/* ==========================================================
   SCROLLBAR
========================================================== */

/* Scroll para navegadores WebKit (Chrome, Edge, Safari) */
::-webkit-scrollbar {
    width: 16px;  /* Cambiá el ancho acá */
}

::-webkit-scrollbar-track {
    background: #d0f0ee;
}

::-webkit-scrollbar-thumb {
    background-color: #0c141c;
    border-radius: 10px;
    border: 3px solid #d0f0ee;
}

/* Scroll para Firefox */
* {
    scrollbar-width: thin; /* Cambiá a 'auto' o 'thin' */
    scrollbar-color: #0c141c #d0f0ee;
}



@media (max-width: 768px) {

    body, html {
        overflow-x: hidden;
    }

    /* HEADER */
    .menu{
        display:none;
    }

    .menu-btn{
        display:block;
    }

    .encabezado {
        padding: 0 15px;
        background-color: transparent;
        height: 60px;
    }

    .encabezado.scrolled {
        background-color: #1d1d1d;
    }

    .logo img {
        width: 45px;
    }

    /* IMAGEN INTRO (cambio imagen como en la otra página) */
    .imagen-intro {
        height: 200px;
        background-image: url("../img/fondo_nosotros2.png"); 
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .imagen-intro img {
        display: none;
    }

    /* TITULO SOBRE IMAGEN */
    .titulo1 {
        top: 100px;
        left: 50%;
        transform: translateX(-50%);
        font-size: 32px;
        text-align: center;
        white-space: nowrap;
    }

    /* TEXTO */
    .text {
        margin: 20px 10px;
        padding: 15px;
        font-size: 15px;
    }

    .text p {
        margin: 10px;
        font-size: 14px;
        display: block;
    }

    /* MENU HAMBURGUESA NO PANTALLA COMPLETA */
    
    
    .fondo-derechos{
        min-height: auto;
        padding: 35px 20px 0;
    }

    .contenido-derechos{
        min-height: auto;
    }

    .logo-pie,
    .text-logo-pie{

        margin: 0;
        width: 100%;

        display: flex;
        justify-content: center;
        align-items: center;

        text-align: center;

    }

    .logo-pie{

        height: auto;
        margin-top: 15px;

    }

    .logo-pie img{

        width: 130px;

    }

    .text-logo-pie{

        margin-top: -10px;

    }

    .text-logo-pie h1{

        font-size: 18px;

    }

    .pie-columnas{

        margin: 30px 0 0 0;

        display: flex;
        flex-direction: column;

        align-items: center;
        justify-content: center;

        gap: 35px;

        text-align: center;

    }

    .links-rapidos,
    .servicios-footer,
    .info-contacto{

        width: 100%;

        align-items: center;

        text-align: center;

    }

    .links-rapidos ul,
    .servicios-footer ul,
    .info-contacto ul{

        text-align: center;

    }

    .info-contacto li{

        justify-content: center;

    }

    .copyright-mae{
        position: relative;

        margin-top: 40px;
    }

}

@media(max-width:1000px){
.encabezado{padding:0 25px}
.menu{display:none}
.menu-btn{display:block}
}
